{{- $archOnly := list "linux-arch" -}}
{{- $fedoraOnly := list "linux-fedora" -}}
{{- $rockyOnly := list "linux-rocky" -}}
{{- $archRocky := list "linux-arch" "linux-rocky" -}}
{{- $archFedora := list "linux-arch" "linux-fedora" -}}
{{- $fedoraRocky := list "linux-fedora" "linux-rocky" -}}
{{- if not (has .osid $rockyOnly) -}}

.config/nvim/

{{- end -}}
{{- if not (has .osid $archRocky) -}}

.config/tmux/

{{- end -}}
{{- if not (has .osid $archFedora) -}}

.config/git/

{{- end -}}
