#
# ~/.bash_profile
#

# Set umask
umask 027

# Set bash options
export HISTFILESIZE=0
export HISTCONTROL=ignoreboth:erasedups

# Set PATH variable
export PATH="${PATH}:${HOME}/.local/bin"

# Set EDITOR variable
export EDITOR="${EDITOR:-nvim}"

# Set XDG_BASE_DIRS variables
export XDG_CONFIG_HOME="${HOME}/.config"
export XDG_CACHE_HOME="${HOME}/.cache"
export XDG_STATE_HOME="${HOME}/.local/state"
export XDG_DATA_HOME="${HOME}/.local/share"
export XDG_CONFIG_DIRS="${XDG_CONFIG_HOME}:/etc/xdg"
export XDG_DATA_DIRS="${XDG_DATA_HOME}:/usr/local/share:/usr/share"

{{- if eq .hosttype "termux" -}}
# Start ssh-agent
if [[ -z "${SSH_AUTH_SOCK}" ]]; then
  eval $(ssh-agent -s) &> /dev/null
  ssh-add ~/.ssh/*_rsa ~/.ssh/*_ed25519 &> /dev/null
fi
{{- end }}

# Source ~/.bashrc if found
[[ -f ~/.bashrc ]] && source ~/.bashrc
