# shellcheck disable=all
#
#    ██████╗  █████╗ ███████╗██╗  ██╗██████╗  ██████╗
#    ██╔══██╗██╔══██╗██╔════╝██║  ██║██╔══██╗██╔════╝
#    ██████╔╝███████║███████╗███████║██████╔╝██║     
#    ██╔══██╗██╔══██║╚════██║██╔══██║██╔══██╗██║     
# ██╗██████╔╝██║  ██║███████║██║  ██║██║  ██║╚██████╗
# ╚═╝╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝
#
# Source file if exists
source_file() { if [[ -f "${1}" ]]; then source "${1}"; fi }

################
# Shell Options
################
#
# Enable dynamic line wrap when terminal size changes
shopt -s checkwinsize

# Enable changing dirs by entering dir only
shopt -s autocd

# Enable spell correction when changing dirs
shopt -s cdspell

# Enable appending commands to history file instead of overwriting
shopt -s histappend

##########
# Aliases
##########
#
# Source custom aliases
source_file "${HOME}/.config/sh/aliasrc"

#################
# Command Prompt
#################
#
# Colors
black='\[\e[30m\]'   # Black
red='\[\e[31m\]'   # Red
green='\[\e[32m\]'   # Green
yellow='\[\e[33m\]'   # Yellow
blue='\[\e[34m\]'   # Blue
purple='\[\e[35m\]'   # Purple
cyan='\[\e[36m\]'   # Cyan
white='\[\e[37m\]'   # White
clear='\[\e[0m\]'      # Reset

# Prompt
export PS1="[${purple}\t${clear}]-[${green}\u${clear}@${green}\h${clear}]-[${cyan}\W${clear}]\n\$(if [[] \$? = 0 ]]; then echo ${green}\(^_^\)${clear}; else echo ${red}\(O_O\)${clear}; fi) \\$> "

