#
#    ██████╗  █████╗ ███████╗██╗  ██╗██████╗  ██████╗
#    ██╔══██╗██╔══██╗██╔════╝██║  ██║██╔══██╗██╔════╝
#    ██████╔╝███████║███████╗███████║██████╔╝██║     
#    ██╔══██╗██╔══██║╚════██║██╔══██║██╔══██╗██║     
# ██╗██████╔╝██║  ██║███████║██║  ██║██║  ██║╚██████╗
# ╚═╝╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝
#
#
shopt -s checkwinsize # Enable dynamic line wrap when terminal size changes
shopt -s autocd # Enable changing dirs by entering dir only
shopt -s cdspell # Enable spell correction when changing dirs
shopt -s histappend # Enable appending commands to history file instead of overwriting

##########
# Aliases
##########
if [[ -f ~/.aliasrc ]]; then source ~/.aliasrc; fi

#################
# Command Prompt
#################
# Colors
black='\[\e[30m\]'   # Black
red='\[\e[31m\]'   # Red
green='\[\e[32m\]'   # Green
yellow='\[\e[33m\]'   # Yellow
blue='\[\e[34m\]'   # Blue
purple='\[\e[35m\]'   # Purple
cyan='\[\e[36m\]'   # Cyan
white='\[\e[37m\]'   # White
clear='\[\e[0m\]'      # Reset

# Git Branch Status
source ~/.config/git/git-prompt.sh
export GIT_PS1_SHOWCOLORHINTS=1
export GIT_PS1_SHOWDIRTYSTATE=1
export GIT_PS1_SHOWSTASHSTATE=1
export GIT_PS1_SHOWUNTRACKEDFILES=1
export GIT_PS1_SHOWUPSTREAM=1

# Prompt
export PS1="[${purple}\t${clear}]-[${green}\u${clear}@${green}\h${clear}]-[${cyan}\W${clear}]\$(__git_ps1 "-[%s]")\n\$(if [[] \$? = 0 ]]; then echo ${green}\(^_^\)${clear}; else echo ${red}\(O_O\)${clear}; fi) \\$> "
