# shellcheck disable=all
###################
# Helper Functions
###################
#
# Config Directory
config_dir="${HOME}/.config/zsh"

# Source single file if exists
source_file() { if [[ -f "${1}" ]]; then source "${1}"; fi }

###################
#
#    ██████╗  █████╗ ███████╗██╗  ██╗        ██████╗ ██████╗  ██████╗ ███████╗██╗██╗     ███████╗
#    ██╔══██╗██╔══██╗██╔════╝██║  ██║        ██╔══██╗██╔══██╗██╔═══██╗██╔════╝██║██║     ██╔════╝
#    ██████╔╝███████║███████╗███████║        ██████╔╝██████╔╝██║   ██║█████╗  ██║██║     █████╗  
#    ██╔══██╗██╔══██║╚════██║██╔══██║        ██╔═══╝ ██╔══██╗██║   ██║██╔══╝  ██║██║     ██╔══╝  
# ██╗██████╔╝██║  ██║███████║██║  ██║███████╗██║     ██║  ██║╚██████╔╝██║     ██║███████╗███████╗
# ╚═╝╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝╚══════╝
#
# Set umask
umask 077

# Source envrc
source_file "${config_dir}/envrc"

# Source bashrc
source_file "${HOME}/.bashrc"

{{ if eq .osid "android" -}}

if [[ -z "${SSH_AUTH_SOCK}" ]]; then
    eval "$(ssh-agent -s)" &> /dev/null
    ssh-add "${HOME}/.ssh/*_rsa" &> /dev/null
fi

{{- end -}}
{{ if eq .osid "linux-arch" -}}

if [[ -z "$DISPLAY" && "$XDG_VTNR" -eq 1 ]]; then
    exec Hyprland
else
    exec tmux
fi

{{- end -}}