#!/bin/bash

set -eu

# Prereq packages
prereqs=(
  "bash"
  "curl"
  "git"
  "lazygit"
  "neovim"
  "ripgrep"
  "fzf"
  "fd"
  "tmux"
)

{{ if -eq .hosttype "termux" }}
# Install prereqs
apt update && apt install -y "${prereqs[@]}"

# Install nerdfont
curl -fL --output-dir "~/.termux" \
  -o "font.ttf" \
  https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/SourceCodePro/Regular/SauceCodeProNerdFontMono-Regular.ttf
{{ else }}
# Install prereqs
pacman -Sy --noconfirm "${prereqs[@]}"

# Install nerdfont
mkdir -p ~/.local/share/fonts/SauceCodePro
curl -fL --output-dir "~/.local/share/fonts/SauceCodePro" \
  -o "SauceCodeProNerdFontMono-Regular.ttf" \
  https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/SourceCodePro/Regular/SauceCodeProNerdFontMono-Regular.ttf \
  -o "SauceCodeProNerdFont-Regular.ttf" \
  https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/SourceCodePro/Regular/SauceCodeProNerdFont-Regular.ttf
{{ end -}}
