#!{{ lookPath "bash" }}

set -eu

###################
# Install Packages
###################

{{- if eq .osid "linux-fedora" }}

pkgs=(
  "zsh"
  "neovim"
  "eza"
  "ripgrep"
  "fzf"
  "git"
  "fd-find"
  "tmux"
)

flatpaks=(
  "dev.zed.Zed"
  "com.brave.Browser"
  "md.obsidian.Obsidian"
  "org.keepassxc.KeePassXC"
  "io.github.celluloid_player.Celluloid"
  "com.github.iwalton3.jellyfin-media-player"
  "com.mattjakeman.ExtensionManager"
  "io.missioncenter.MissionCenter"
  "com.github.tchx84.Flatseal"
)

if ! flatpak remote-list | grep -q flathub; then
  echo "Adding Flathub remote..."
  flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
fi

echo "Installing packages..."
sudo dnf install -y "${pkgs[@]}"
echo "Packages successfully installed."
echo "Installing flatpaks..."
flatpak install --or-update --noninteractive flathub "${flatpaks[@]}"
echo "Flatpaks successfully installed."

{{- else if eq .osid "linux-rocky" }}

# Rocky Linux Packages
pkgs=(
  "zsh"
  "neovim"
  "ripgrep"
  "fzf"
  "tmux"
)

echo "Installing packages..."
sudo dnf install -y "${pkgs[@]}"
echo "Packages successfully installed."

{{- else if eq .osid "linux-arch" }}

pkgs=(
  "zsh"
  "neovim"
  "eza"
  "ripgrep"
  "fzf"
  "fd"
  "tmux"
)

echo "Installing packages..."
sudo pacman -Sy --noconfirm --needed "${pkgs[@]}"
echo "Packages successfully installed."

{{- else if eq .osid "android" }}

pkgs=(
  "zsh"
  "neovim"
  "eza"
  "ripgrep"
  "fzf"
  "git"
  "fd"
  "tmux"
)

echo "Installing packages..."
pkg install "${pkgs[@]}"
echo "Packages successfully installed."

{{- end }}

########
# Fonts
########
#
# Install desired fonts. Simply add to array and update system-specific commands.
#

# Install nerdfont
fonts=(
  "https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Regular.ttf"
  "https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold.ttf"
  "https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Italic.ttf"
  "https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold%20Italic.ttf"
)

{{- if eq .osid "linux-fedora" }}

for font in "${fonts[@]}"; do
  curl -fLO "${font}"
done

fonts_dir="${HOME}/.local/share/fonts/MesloLGS NF"
mkdir -p "${fonts_dir}" && mv "${HOME}"/*.ttf "${fonts_dir}"/
fc-cache -v

{{- else if eq .osid "android" }}

curl -fLO "${fonts[0]}"
fonts_dir="${HOME}/.termux"
mkdir -p "${fonts_dir}" && mv "${HOME}"/*.ttf "${fonts_dir}/font.ttf"

# Remove default motd
rm "${PREFIX}"/etc/motd

{{- end -}}
