######################################################
#
#  █████╗ ██╗     ██╗ █████╗ ███████╗██████╗  ██████╗
# ██╔══██╗██║     ██║██╔══██╗██╔════╝██╔══██╗██╔════╝
# ███████║██║     ██║███████║███████╗██████╔╝██║     
# ██╔══██║██║     ██║██╔══██║╚════██║██╔══██╗██║     
# ██║  ██║███████╗██║██║  ██║███████║██║  ██║╚██████╗
# ╚═╝  ╚═╝╚══════╝╚═╝╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝ ╚═════╝
#
######################################################
#
# General
alias q="exit"
alias c="clear"

# Changing Directories
alias z="cd"
alias zz="cd -"
alias ..="cd .."
alias ...="cd ../.."

# Listing Directory Contents
{{- if or (eq .osid "linux-arch") (eq .osid "linux-fedora") -}}

alias l="eza -1 --icons=auto --group-directories-first" # list
alias la="eza -1a --icons=auto --group-directories-first" # list all
alias ll="eza -lh --icons=auto --group-directories-first" # long list info
alias lla="eza -lha --icons=auto --group-directories-first" # list info all

{{- else if eq .osid "linux-rocky" -}}

alias l="ls -1 --group-directories-first" # list
alias la="ls -1a --group-directories-first" # list all
alias ll="ls -lh --group-directories-first" # long list info
alias lla="ls -lha --group-directories-first" # list info all

{{- end }}

# Modify Existing Commands
alias mkdir="mkdir -p" # Create parent directories if non-existing
alias rm="rm -I" # Prompt for confirmation before deleting files
alias cp="cp -r" # Copy files recursively

# Shorten Long Commands
alias mkexe="chmod +x" # Makes a file executable

# Text Editor
alias e="${EDITOR}"

