--[[
Neovim Configuration
--]]

--------------------
-- Import Modules
--------------------
require("config.core") -- Neovim Options
require("config.keys") -- Neovim Keymaps
{{ if ne .osid "linux-rocky" -}}
require("config.lazy") -- Lazy.nvim Options
{{ end }}
